* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #262626;
}

/* nav start */
nav {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #262626;
  flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
  nav>div>ul {
    flex-direction: column !important;
    background-color: aliceblue;
    width: 300px;
  }

  nav {
    align-items: center !important;
  }

  nav>div>ul>li {
    background-color: aliceblue;
  }
}


@media screen and (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  nav {
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
  }

  nav .nav-img .img-1 {
    display: flex;
  }

  nav .nav-img img {
    display: none;
  }

  .carousel {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin-bottom: 240px !important;

  }

  .carousel .text {
    left: 10% !important;
    top: 90% !important;
    width: 80% !important;
    background-color: rgba(240, 237, 237, 0.712);
    padding: 10px;
    border-radius: 10px;
    font-size: 0.65rem;
  }

  .picture {
    margin-bottom: 200px !important;
  }

  .picture .text {
    left: 10% !important;
    top: 90% !important;
    width: 80% !important;
    background-color: rgba(240, 237, 237, 0.712);
    padding: 10px;
    border-radius: 10px;
    font-size: 0.65rem;
  }
}


nav .img-res {
  width: 108px;
}

nav .img-1 {
  display: none;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: .3s;
}

a:hover::after {
  width: 100%;
}

a {
  width: max-content;
  text-decoration: none;
  color: #262626;
}

nav>div>ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

nav>div>ul>li {
  padding: 0 10px;
  display: flex;
}

nav>div:last-child>ul>li:last-child {
  padding-bottom: 10px;
}


.bi-caret-down {
  padding-top: 5px;
  margin-left: 8px;
}

.bi-search {
  margin-left: 8px;
  font-size: 1.3em;
}

.bi-cart3 {
  margin-left: 8px;
  font-size: 1.3em;
}

.bi-person-circle {
  margin-left: 8px;
  font-size: 2.1em;
}

/* nav end */

/* carousel start */
.carousel {
  position: relative;
}

.img-carousel {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  left: 50px;
  top: 15%;
  width: 36%;
  display: flex;
  flex-direction: column;
  font-size: .85rem;
}

.text>.title {
  font-size: 2.8em;
  font-weight: 600;
  margin-bottom: 25px;
}

.text>.content {
  font-size: 1.2em;
  margin-bottom: 25px;
}

button {
  background-color: #0067b8;
  color: white;
  padding: 12px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 2px;
  border: none;
}

button:hover {
  background-color: #006790;
  cursor: pointer;
}

.footer {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.footer>a {
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: 600;
}

.bi-caret-right {
  margin-left: 2px;
}

/* carousel end */
/* section tripple start */

.section-tripple {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 5rem 0;
  flex-wrap: wrap;
  row-gap: 20px;
}

.section-tripple>.tripple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.tripple>img {
  width: 2.5rem;
}

.tripple>a {
  color: #0067b8;
  margin-top: 8px;
  font-size: 1rem;
}

/* section tripple end */

/* section article start */

h1 {
  font-size: 2rem;
  margin: 10px auto;
}

.four {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  flex-wrap: wrap;

}

.four-title {
  margin-left: 100px;

}

.four>article {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-content: start;
  height: 450px;
}

.four>article>img {
  width: 290px;
  height: 200px;
}

.four>article>h3 {
  font-size: 1.4rem;
  margin: 10px 0;
}

.four>article>p {
  font-size: 1rem;
  margin: 15px 0;
  max-width: 290px;
}

.four>article>a {
  font-size: 1rem;
  color: #0067b8;
}

/* section article end */
/* picture start */
.picture {

  margin: 50px auto;
  position: relative;
}

.picture img {
  width: 100%;
  height: auto;
}

.picture>div {
  position: absolute;
  z-index: 1;
  left: 100px;
  top: 150px;
}

.picture h2 {
  font-size: 2.2rem;
}

.picture p {
  font-size: 1rem;
}

/* picture end */
/* four second start */
.icons {
  display: flex;
  align-items: center;
  margin: 30px auto;
  font-size: 1rem;

}

.icons>ul {
  display: flex;
  flex-direction: row;
  list-style: none;

}

.icons>ul>li>a>img {
  width: 36px;
  margin: 0 10px;
}

/* four second end */
/* başa dön buton start */
.basa-don {
  display: flex;
  justify-content: end;
  margin: 20px 50px;
}

.button {
  background-color: #0067b8;
  color: white;
  padding: 12px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 2px;
  border: none;
}

.button:hover {
  background-color: #006790;
  cursor: pointer;
}

/* başa dön buton end */
/* footer start */

footer {
  display: flex;
  background-color: rgb(238, 234, 234);
  width: 100%;
  height: 100%;
  flex-wrap: wrap;

}

footer>ul {
  padding: 0;
  display: flex;
  list-style: none;
  margin: 0 auto;
  justify-content: space-between;
  width: 60%;
  max-width: 1200px;
  flex-wrap: wrap;
}

footer>ul>li {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer>ul>li>a {
  height: 25px;
  display: block;
}

footer h3 {
  font-weight: 500;
}

/* footer end */

/* footer bottom start */
@media screen and (max-width:600px) {
  .footer-bottom>ul {
    display: flex;
    flex-direction: column;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-bottom ul {
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
  flex-wrap: wrap;
}

.footer-bottom ul li {
  margin-left: 40px;
  list-style: none;
  flex-wrap: wrap;
}

/* footer bottom start */